{% include 'global/index.html' %}     
<body>
    {% include 'global/partials/header.html' %}
    <main>
        <section>
            <div>
                <h2 id='div__h2_01'> Adiventure Trevel </h2>
                <h2 id='div__h2_02'> Connecting you to your dreams! </h2>
                <hr>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam dolorum sed aliquid ipsum. Voluptatum maxime ipsum aliquam dolor voluptatibus cum ipsam corrupti, est unde blanditiis dignissimos amet in earum impedit praesentium officia facere magnam rem obcaecati vel neque iusto? Officiis quos sit blanditiis laborum nostrum molestiae dolores ipsa adipisci architecto et?
                </p>
            </hr>
            </div>
        </section>
        <article>
            <div>
                <h2 id='div__h2_03'> Adiventure Trevel </h2>
                <h2 id='div__h2_04'> Connecting you to your dreams! </h2>
                <hr>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam dolorum sed aliquid ipsum. Voluptatum maxime ipsum aliquam dolor voluptatibus cum ipsam corrupti, est unde blanditiis dignissimos amet in earum impedit praesentium officia facere magnam rem obcaecati vel neque iusto? Officiis quos sit blanditiis laborum nostrum molestiae dolores ipsa adipisci architecto et!
                </p>
            </hr>
            </div>
        </article>
    </main>
    <address class='container address__space'>
        <div class='row'>
            <div class='col'>
                <h3>
                    <i class='bi bi-envelope'></i>
                    E-MAIL
                </h3>
                <span>contatc@adventuretravel.com</span>
            </div>
            <div class='col'>
                <h3>
                    <i class='bi bi-telephone'></i>
                    PHONE
                </h3>
                <span>(14)9 9999.8888 | (14)9 4002.8922</span>
            </div>
        </div>
    </address>
    {% include 'global/partials/footer.html' %}
</body>
</html>